.body {
  background-color: rgba(70, 24, 33, 0.7);
  min-height: 99vh;
  color: white;
}
.body > .main {
  width: 70vw;
  margin: 0 auto;
  gap: 1em;
}
.p {
  font-size: 1.3em;
}
.flexDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  width: 15rem;
  border: 2px solid blue;
  color: blue;
  font-weight: bold;
  font-size: 1rem;
  padding: 1em 0px;
  cursor: pointer;
}
.frame {
  width: 45rem;
  height: 20rem;
}

@media (max-width: 899px) {
  .main {
    width: 80vw;
  }
  .flexDiv {
    width: 90vw;
  }
  .frame {
    width: 18rem;
    height: 15rem;
  }
}
